.ribbon {
  position:absolute;
  top:0;
  right:0;
  background-color:MediumSeaGreen   ;
  height:19px;
  width:120px;
  font-weight: bold;
  }



.combo{
   height:auto;
   width: 70%;

}



.header{
height: 80px;
}

.card-img-top{
height:80%;
width:60%;
}

.grid-container {
  overflow:auto;
  scrollbar-width: thin;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  gap: 10px;

}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  width:auto;
  height: 140px;
}


